#mode{
    cursor:pointer;
    position:absolute;
    top:0px;
    right:10px;
}
p{
    color:blue;
    font-family: Courier;
}
body{
    background-color:magenta;
    
}
*h{
    color:green;
    font-family:  'Lucida Sans';
}