body {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}
h1 {
        font-weight: bold;
}
#mode{
    cursor:pointer;
    position:absolute;
    top:0px;
    right:10px;
}